@model PostModel

<div class="blog-grid-top">
    <div class="b-grid-top">
        <div class="blog_info_left_grid">
            <a href="single.html">
                <img src=@Model.postImgUrl class="img-fluid" alt="">
            </a>
        </div>

    </div>

    <h3>
        <a href="single.html">@Model.postTitle </a>
    </h3>
    <p>
        @Model.postDescription
    </p>

</div>