
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="main-content-w3layouts-agileits">

    <h3 class="tittle">İletişim İçin</h3>
    <br />
   
    <div class="ad-inf-sec bg-light">
        <div class="container">
            <div class="address row">

                <div class="col-lg-4 address-grid">
                    <div class="row address-info">
                        <div class="col-md-4 address-left text-center">
                            <i class="far fa-map"></i>
                        </div>
                        <div class="col-md-8 address-right text-left">
                            <h6>Linkedin </h6>
                            <a href="https://www.linkedin.com/in/sevg%C3%BCl-ketenci-906b53235/">
                                Linked'in platformu
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 address-grid">
                    <div class="row address-info">
                        <div class="col-md-4 address-left text-center">
                            <i class="far fa-envelope"></i>
                        </div>
                        <div class="col-md-8 address-right text-left">
                            <h6>E-mail</h6>
                            <p>
                                <a href="mailto:ketenci2554@gmail.com"> ketenci2554@gmail.com</a>

                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 address-grid">
                    <div class="row address-info">
                        <div class="col-md-4 address-left text-center">
                            <i class="fas fa-mobile-alt"></i>
                        </div>
                        <div class="col-md-8 address-right text-left">
                            <h6>Telefon</h6>
                            <p>+90 536 604 54 65</p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="contact_grid_right">
    
        </div>
    </div>
</section>

