
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model About

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">@Model.AboutTittle</h3>
        <div class="row inner-sec">
            <!--left-->
            <div class="col-lg-12 left-blog-info-w3layouts-agileits text-left">
                <div class="blog-grid-top">

                    <div class="blog_info_left_grid">
                        <a href="single.html">
                            <img src=@Model.AboutImgUrl class="img-fluid" alt="">
                        </a>
                    </div>
                    <h3>
                        Kısaca bahsedicek olursam
                    </h3>
                    <p>
                        @Model.AboutDescription
                    </p>
                    <a href="https://github.com/Sevgulketencii/UnitedSoftwareProject" class="btn btn-primary read-m">Kaynak Kodlar İçin</a>
                </div>
                
            </div>
   
        </div>
    </div>
</section>
