
@{
    Layout = null;
}
@model List<FoodPostModel>
<div class="comment-top">
    <h4>Notlar</h4>
    <table class="table table-hover">
        
        <tbody>
           
            @foreach (var item in Model)
            {
                <tr>
                    <td><strong>@item.FoodPostTitle</strong></td>
                    <td>@item.FPostDescription</td>
                    <td><a asp-controller="PostDetail" asp-action="FPostRemove" asp-route-id=@item.FoodPostId class="btn btn-danger btn-lg">Sil</a></td>
                </tr>
            }

           
        </tbody>
    </table>
</div>