

<div class="comment-top">
    <h4>Not Ekle</h4>
    <div class="comment-bottom">
        <form asp-controller="PostDetail" asp-action="FPostAdd" method="post">
                
            <input class="form-control" type="text" name="FoodPostTitle" placeholder="Not Başlık">
            <textarea class="form-control" name="FPostDescription" rows="10" cols="5" placeholder="Notunuz..."></textarea><br />
            <button type="submit" class="btn btn-primary submit">Notu Ekle</button>
        </form>
    </div>
</div>