@{
    ViewData["Title"] = "Home Page";

}
@model List<PostModel>


    <section class="main-content-w3layouts-agileits">
        <div class="container">
            <h3 class="tittle">Notlarım</h3>
            <div class="inner-sec">
                <!--left-->
                <div class="left-blog-info-w3layouts-agileits text-left">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                        <div class="col-lg-4 card">
                            <a asp-controller="PostDetail" asp-action="Index" asp-route-id=@item.postId>
                                <img src=@item.postImgUrl class="card-img-top img-fluid" alt="">
                                <a asp-controller="Home" asp-action="PostRemove" asp-route-id=@item.postId  class="btn btn-danger btn-sm">SİL</a>
                            </a>
                            <div class="card-body">
                                <ul class="blog-icons my-4">
                                    <li>
                                        <a href="#">
                                            <i class="far fa-calendar-alt"></i> @item.postDate.ToShortDateString()
                                        </a>
                                    </li>
                                    

                                </ul>
                                <h5 class="card-title">
                                    <a asp-controller="PostDetail" asp-action="Index" asp-route-id=@item.postId>@item.postTitle</a>
                                </h5>
                                <p class="card-text mb-3">@item.postDescription </p>
                                <a asp-controller="PostDetail" asp-action="Index" asp-route-id=@item.postId class="btn btn-primary read-m">Notları İncele</a>
                                
                            </div> 
                        </div>
                        }
                        
                        
                        
                    </div><br /><br /><br />
                    <a asp-controller="Home" asp-action="PostAdd" class="btn btn-info" style="margin-left:500px">+ Ana Post Ekle</a>
                    <!--//left-->
                </div>
            </div>
        </div>
    </section>
    <!--//main-->
    <!--footer-->
    